<!DOCTYPE html>
<html>
<head>

    <title>AI StoryForge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>📖 AI StoryForge</h1>

    <form action="/generate" method="POST">

        <input
            type="text"
            name="name"
            placeholder="Character Name"
            required>

        <input
            type="text"
            name="theme"
            placeholder="Enter story Theme"
            required>

        
    <label>Genre</label>

     <select name="genre" class="dropdown">

          <option value="Fantasy">Fantasy</option>
          <option value="Adventure">Adventure</option>
          <option value="Mystery">Mystery</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Romance">Romance</option>
          <option value="Horror">Horror</option>
          <option value="Thriller">Thriller</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Action">Action</option>
          <option value="Historical Fiction">Historical Fiction</option>
          <option value="Mythology">Mythology</option>
          <option value="Crime">Crime</option>
          <option value="Detective">Detective</option>
          <option value="Superhero">Superhero</option>
          <option value="Fairy Tale">Fairy Tale</option>
          <option value="Magical Realism">Magical Realism</option>

   </select>
          <br><br>

   <label>Story Type</label>

    <select name="story type" class="dropdown">

          <option value="Happy">Happy</option>
          <option value="Sad">Sad</option>
          <option value="Romance">Romance</option>
          <option value="Horror">Horror</option>
          <option value="Thrilling">Thrilling</option>
          <option value="Suspenseful">Suspenseful</option>
          <option value="Inspirational">Inspirational</option>
          <option value="Emotional">Emotional</option>
          <option value="Heartwarming">Heartwarming</option>
          <option value="Dark">Dark</option>
          <option value="Funny">Funny</option>
          <option value="Motivational">Motivational</option>
          <option value="Mysterious">Mysterious</option>
          <option value="Epic">Epic</option>
          <option value="Tragic">Tragic</option>

   </select>

        <br><br>

   <label>Story Length</label>

    <select name="length" class="dropdown">

        <option value="Short">Short (300 words)</option>
        <option value="Medium">Medium (600 words)</option>
        <option value="Long">Long (1000 words)</option>

    </select>

        <br><br>

   <label>Target Audience</label>

    <select name="audience" class="dropdown">

      <option value="Kids">Kids</option>
      <option value="Teenagers">Teenagers</option>
      <option value="Adults">Adults</option>

   </select>
        <br><br>

        <button type="submit">
            Generate Story
        </button>

    </form>

    {% if story %}

    <div class="story-box">

        <h2>Generated Story</h2>

        <p>{{ story }}</p>

        <a href="/download">
            Download PDF
        </a>

    </div>

    {% endif %}

</div>

</body>
</html>

   